@model IEnumerable<HomecareApp.Models.User>

<div class="container p-0">
    
    <table class="table table-striped table-hover border">
        
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Role</th>
                <th>Actions</th>
            </tr>
        </thead>
        
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.UserId</td>
                    <td>
                        @user.Name
                    </td>
                    <td>@user.Email</td>
                    <td>
                        @if (user.Role == "Admin")
                        {
                            <span class="badge bg-danger">@user.Role</span>
                        }
                        else if (user.Role == "HealthcarePersonnel")
                        {
                            <span class="badge bg-success">@user.Role</span>
                        }
                        else
                        {
                            <span class="badge bg-primary">@user.Role</span>
                        }
                    </td>
                    <td>
                        <a asp-action="Update" asp-route-id="@user.UserId" class="btn btn-sm btn-success">Update</a>
                        <a asp-action="Delete" asp-route-id="@user.UserId" class="btn btn-sm btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>