@model IEnumerable<User>

<div class="container">
    <table class="table table-striped">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Actions</th>
        </tr>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.UserId</td>
                <td>
                    <a asp-controller="User"
                       asp-action="Details"
                       asp-route-id="@user.UserId">@user.Name</a>
                </td>
                <td>@user.Email</td>
                <td>@user.Role</td>
                <td>
                    <a asp-action="Update" asp-route-id="@user.UserId">Update</a>
                    <a asp-action="Delete" asp-route-id="@user.UserId">Delete</a>
                </td>
            </tr>
        }
    </table>
</div>